Repository vvscode/demo-env-xx: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write

Publish github pages from github actions
  .github/workflows/github-pages.yml
  .lintstagedrc.json
Due: none

deploy: 1671a0464f67c3052573c39dbea01d116ba46a31
  .nojekyll
  index.html
  index.js
  sum.js
Due: npx eslint --fix, prettier --write

Test deploy
  src/index.html
Due: prettier --write

deploy: ce873c74ec628f6c9daed9d56578c34b6f89315c
  index.html
Due: prettier --write

Basic webpack config
  .gitignore
  package-lock.json
  package.json
  webpack.config.js
Due: npx eslint --fix, prettier --write

Dev server
  package-lock.json
  package.json
  public/.gitkeep
  webpack.config.js
Due: npx eslint --fix, prettier --write

Configure html webpack plugin
  package-lock.json
  package.json
  src/index.html
  webpack.config.js
Due: npx eslint --fix, prettier --write

Define modes for webpack
  package.json
Due: none

Use webpack for github pages deployment
  .github/workflows/github-pages.yml
  src/index.html
Due: prettier --write

Install deps in CI
  .github/workflows/github-pages.yml
Due: none

deploy: 72a226245a2087c77c890e9f45c177a8a18bd170
  index.html
  index.js
  main.js
  sum.js
Due: npx eslint --fix, prettier --write

Add client routing
  package-lock.json
  package.json
  src/index.html
  src/index.js
  src/router.js
  src/styles.css
  webpack.config.js
Due: npx eslint --fix, prettier --write

deploy: 02da6c3a9f962835c7ee03ec509081417ca783b8
  index.html
  main.js
Due: npx eslint --fix, prettier --write

Use relative links
  src/index.html
Due: prettier --write

deploy: e45e0d73a459acfd028959ce85e06765769749b0
  index.html
Due: prettier --write

Add 404.html
  .github/workflows/github-pages.yml
Due: none

deploy: 61616f39052d616838919b922a1beb9aec65ceaa
  404.html
Due: prettier --write

Add publicPath
  webpack.config.js
Due: npx eslint --fix, prettier --write

deploy: 582bf0dbfcddac7cee92f2785090d641d20aa898
  404.html
  index.html
Due: prettier --write

Debug env variables
  .github/workflows/github-pages.yml
Due: none

Replace harcoded publicPath
  webpack.config.js
Due: npx eslint --fix, prettier --write

deploy: e800e86cc01b2d61996c13e2fe8587ea322009a7
  404.html
  index.html
Due: prettier --write

Local historyApiFallback
  webpack.config.js
Due: npx eslint --fix, prettier --write

deploy: 0cd04569d318f9b0d0236c65691407d4e4c7a7b7
  404.html
  index.html
Due: prettier --write

Define
  src/router.js
  webpack.config.js
Due: npx eslint --fix, prettier --write

deploy: 4436ccee823baa4d8af092ad481a026655f1dd9c
  main.js
Due: npx eslint --fix, prettier --write

Replace multiple basenames with router one
  src/router.js
Due: npx eslint --fix, prettier --write

deploy: cc28903e4c1810bf3c9474094756769ed9ba3ab5
  main.js
Due: npx eslint --fix, prettier --write

Use basename to render links
  src/index.html
  src/index.js
Due: npx eslint --fix, prettier --write

makeUrl in router
  src/index.js
  src/router.js
Due: npx eslint --fix, prettier --write

Add eslint comment to describe BASENAME
  src/index.js
Due: npx eslint --fix, prettier --write

deploy: c872baa3fdfd367be6a6948b3e2fee6ec952cd8d
  404.html
  index.html
  main.js
Due: npx eslint --fix, prettier --write

Remove printenv, Add filename to webpack htmlplugin
  .github/workflows/github-pages.yml
  webpack.config.js
Due: npx eslint --fix, prettier --write

Path conditions:
  npx eslint --fix: any of: *.js
  prettier --write: any of: *.{html,css,js}
